services:
  - type: worker
    name: tg-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: OPENWEATHER_API_KEY
        sync: false
